# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java全栈-springboot\store_电脑商城\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
